<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.eclipse.rap.rwt.accessibility.AriaButtonMixinResource">
      </resource>
      <resource
            class="org.eclipse.rap.rwt.accessibility.AriaComboMixinResource">
      </resource>
       <resource
            class="org.eclipse.rap.rwt.accessibility.AriaSpinnerMixinResource">
      </resource>
       <resource
            class="org.eclipse.rap.rwt.accessibility.AriaScaleMixinResource">
      </resource>
   </extension>

</plugin>